<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <title>Marco Addresses</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="Client/favicon.ico">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="Client/inline.bundle.js"></script>
    <script type="text/javascript" src="Client/polyfills.bundle.js"></script>
    <script type="text/javascript" src="Client/styles.bundle.js"></script>
    <script type="text/javascript" src="Client/vendor.bundle.js"></script>
    <script type="text/javascript" src="Client/main.bundle.js"></script>
</body>
</html>
