<md-card>
    <md-card-header>
        <md-card-title><h2>Address List</h2></md-card-title>
    </md-card-header>
    <md-card-header>
        <a md-raised-button color="primary" [routerLink]="['/address/add']">Add</a>
    </md-card-header>
    <md-card-content>
        <md-nav-list>
          <md-list-item *ngFor="let address of addresses;let i=index;">
            <md-icon md-list-icon>place</md-icon>
            <h3 md-line>
              {{address.Address1}}
            </h3>
            <p md-line>{{address.Address2}}. {{address.City}}, {{address.State}}, {{address.Country}}</p>
            <a md-raised-button color="primary" [routerLink]="['/address',address.Id]">Edit</a>
            <button md-raised-button color="warn" (click)="deleteAddress(i)">Delete</button>
          </md-list-item>
        </md-nav-list>
    </md-card-content>
</md-card>